extends base/_layout
block vars
    - var pageName = 'index'
block head
    title Italtherm - Газовые котлы из Италии
block page

    .intro
        .intro__container
            +pictureSizeWithoutLazyMedia('intro/intro-banner', 'intro/intro-banner-mob', 'jpg', 'x2', 1920, 746, 576, 575)

    include ./blocks/_form.pug

    include ./blocks/_quiz.pug

    include ./blocks/_about.pug

    include ./blocks/_production

    include ./blocks/_top
    
    include ./blocks/_feedback_new

    include ./blocks/_policy




