extends base/_layout
block vars
    - var pageName = 'new-landing'
block head
    title Italtherm - Газовые котлы из Италии
block page


    .intro.intro_new
        .intro__container
            +pictureSizeWithoutLazyMedia('intro/intro-banner-6', 'intro/intro-banner-6-mob', 'jpg', 'x2', 1920, 746, 576, 575)


    include ./blocks/_info_new

    include ./blocks/_geo_new

    include ./blocks/_catalog

    include ./blocks/_production

    include ./blocks/_feedback_new

    include ./blocks/_learn_more

    include ./blocks/_platforms_new

    include ./blocks/_policy










