section.about.section
    .container 

        h2.about__title Итальянская компания #[span Italtherm] 

        p.about__text #[strong – всемирно известный производитель широкого ассортимента ГАЗОВЫХ КОТЛОВ]  для индивидуального отопления и горячего водоснабжения. История компании насчитывает более 50 лет успешной работы и постоянного развития в области производства газовых котлов и их эксплуатации по всему миру.

        p.about__name Производство Italtherm сегодня это: 

        ul.about__list 
            
            li.about__item Передовые технологии и самые надежные материалы.
            li.about__item Итальянское производство из 100% европейских компонентов.
            li.about__item Многоуровневый контроль качества по стандарту ISO 9001.
            li.about__item Вызывающий и неповторимый итальянский дизайн. 
            li.about__item Более 120 000 котлов в год. 

        p.about__text #[strong Решили заменить старый котел или купить новый?] Обратите внимание на линейку газовых котлов Italtherm. #[br]Предоставим превосходный уровень качества, надежности и сервиса!
