section.catalog.section
    .catalog__bg
        +pictureSizeWithoutLazyMedia('catalog/catalog_bg', 'catalog/catalog_bg_mob', 'jpg', 'x2', 1920, 423, 576, 575)

    .container
        h2.catalog__title.section__title Каталог эксклюзивных итальянских котлов

        a.catalog__link(href="#") Перейти в каталог
