.feedback.feedback_new.section 
    .container
        h2.feedback__title.section__title Заинтересовала#[br]продукция Italtherm?

        p.feedback__subtitle Оставьте заявку на бесплатную консультацию

        form.feedback__form(action="#" novalidate)

            input.feedback__input(type="text" name="user_name" placeholder="Имя")

            input.feedback__input(type="text" name="user_phone" placeholder="+7 (___) ___-__-__" data-maska="+7 (###) ###-##-##" required)

            button.feedback__submit(type="submit") Получить консультацию

        p.feedback__policy Нажав на кнопку, вы даете согласие на обработку #[button.feedback__show.show-policy персональных данных]

        .feedback__bg 
            picture(class="picture object-fit-cover")
                source(class="object-fit-cover" media="(min-width:992px)" srcset= "./images/feedback/feedback-bg-new.webp, ./images/feedback/feedback-bg-new@2x.webp 2x" type="image/webp"  width="1920" height="751")
                source(class="object-fit-cover" media="(max-width:991px)" srcset= "./images/feedback/feedback-bg-new-mob.webp, ./images/feedback/feedback-bg-new-mob@2x.webp 2x" type="image/webp"  width="390" height="884")
                img(class="picture__img object-fit-cover" src= "./images/feedback/feedback-bg-new.jpg" srcset= "./images/feedback/feedback-bg-new.jpg, ./images/feedback/feedback-bg-new@2x.jpg 2x" alt="" width="1920" height="751" decoding="async" loading="lazy")
