footer.footer
    .footer__container
        img.footer__logo(src="./images/logo.svg", alt="Логотип компании Italtherm" loading="lazy" decoding="async" width="425" height="74")                
        span.footer__copyright 2024 © «ITALTHERM S.p.A.»

        .footer__social 
            a.footer__link(href="https://dzen.ru/italtherm" target="_blank")
                img(src="./images/social/icon_yandex.svg", alt="Логотип ЯндексДзен" width="45" height="45" loading="lazy" decoding="async")
            a.footer__link(href="https://t.me/italtherm_ru" target="_blank")
                img(src="./images/social/icon_telegram.svg", alt="Логотип Телеграм" width="45" height="45" loading="lazy" decoding="async")
            a.footer__link(href="https://vk.com/italtherm" target="_blank")
                img(src="./images/social/icon_vk.svg", alt="Логотип Вконтакте" width="45" height="45" loading="lazy" decoding="async")
            a.footer__link(href="https://www.youtube.com/@ItalthermRU" target="_blank")
                img(src="./images/social/icon_youtube.svg", alt="Логотип Youtube" width="45" height="45" loading="lazy" decoding="async")
            a.footer__link(href="https://www.instagram.com/italtherm.russia?igsh=dnpoZmZtcWVhbzds" target="_blank")
                img(src="./images/social/icon_instagram.svg", alt="Логотип Instagram" width="45" height="45" loading="lazy" decoding="async")


        button.footer__policy.show-policy(type="button" aria-label="Показать политику конфиценциальности") Политика конфиденциальности


        a.footer__phone(href="tel:88002225219") 8 (800) 222-52-19
        a.footer__email(href="mailto:info@italtherm-russia.ru") info@italtherm-russia.ru
