footer.footer
    .footer__container
        img.footer__logo(src="./images/logo.svg", alt="Логотип компании Italtherm" loading="lazy" decoding="async" width="425" height="74")

        a.footer__phone(href="tel:88002225219") 8 (800) 222-52-19

        a.footer__email(href="mailto:info@italtherm-russia.ru") info@italtherm-russia.ru

        span.footer__copyright 2024 © «ITALTHERM S.p.A.»

        button.footer__policy.show-policy(type="button" aria-label="Показать политику конфиценциальности") Политика конфиденциальности



