.container
    .form.section 
        h2.form__title Заинтересовала уникальная гарантия?

        p.form__subtitle Оставьте заявку на бесплатную консультацию

        form.form__form(action="#" novalidate)

            input.form__input(type="text" name="user_name" placeholder="Имя")

            input.form__input(type="text" name="user_phone" placeholder="+7 (___) ___-__-__" data-maska="+7 (###) ###-##-##" required)

            button.form__submit(type="submit") Получить консультацию

        p.form__policy Нажав на кнопку, вы даете согласие на обработку #[button.form__show.show-policy персональных данных]
