.geo.geo_new.section
    .geo__top
        .container
            h2.geo__title.section__title География присутствия продукции Italtherm в мире


    .geo__map
        .container
            .geo__img
                //- img(src="./images/geo/map.svg", alt="Карта присутствия продукции Italtherm в мире" loading="lazy" decoding="async" width="1500" height="905")

                picture(class="picture object-fit-cover")
                    source(class="object-fit-cover" srcset= "./images/geo/map_new.webp, ./images/geo/map_new@2x.webp 2x" type="image/webp")
                    img(class="picture__img object-fit-cover" src= "./images/geo/map_new.jpg" srcset= "./images/geo/map_new.jpg, ./images/geo/map_new@2x.jpg 2x" alt="Карта присутствия продукции Italtherm в мире" width="1128" height="680" decoding="async" loading="lazy")
