header.header
    .header__container 
        img.header__logo(src="./images/logo.svg" alt="" width="425" height="74" decoding="async")

        .header__info 
            span.header__work Пн-Пт: 8:00-17:00 (МСК)
            a.header__tel(href="tel:88002225219") 8 (800) 222-52-19
