.info.section
    .container
        h1.info__title
            span Italtherm #[br]
            span – всемирно известный производитель широкого ассортимента ГАЗОВЫХ КОТЛОВ 
            span для индивидуального отопления и горячего водоснабжения



