.learn_more
    .container
        h2.learn_more__title.section__title Узнать больше о котлах Italtherm

        .learn_more__wrapper
            picture(class="picture object-fit-cover")
                source(class="object-fit-cover" media="(min-width:576px)" srcset= "./images/learn-more/learn-more-bg.webp, ./images/learn-more/learn-more-bg@2x.webp 2x" type="image/webp"  width="1500" height="574")
                source(class="object-fit-cover" media="(max-width:575px)" srcset= "./images/learn-more/learn-more-bg-mob.webp, ./images/learn-more/learn-more-bg-mob@2x.webp 2x" type="image/webp"  width="350" height="207")
                img(class="picture__img object-fit-cover" src= "./images/learn-more/learn-more.jpg" srcset= "./images/learn-more/learn-more.jpg, ./images/learn-more/learn-more@2x.jpg 2x" alt="" width="1500" height="574" decoding="async" loading="lazy")

            a.learn_more__link(href="#") На официальном сайте
