section.quiz
    .container
        h2.quiz__title Ответьте на 4 вопроса и получите подбор #[span оптимального котла с уникальной гарантией 7 лет]

        .quiz__wrapper 
            img(src="./images/lid.png", alt="")

