<svg width="47" height="46" viewBox="0 0 47 46" fill="none" xmlns="http://www.w3.org/2000/svg">
  <circle cx="23.7927" cy="23.1584" r="22.8415" fill="url(#paint0_linear_54_1218)" />
  <path d="M35.9277 23.1585L17.7259 33.6673L17.7259 12.6496L35.9277 23.1585Z" fill="white" />
  <defs>
    <linearGradient id="paint0_linear_54_1218" x1="-31.1698" y1="24.9429" x2="89.8191" y2="25.6567" gradientUnits="userSpaceOnUse">
      <stop offset="0.377551" stop-color="#41A62B" />
      <stop offset="1" stop-color="#194011" />
    </linearGradient>
  </defs>
</svg>
