.footer {
    color: var(--color-white-fc, #fcfcfc);
    background-color: var(--color-green-bg, #40a22b);
    background: $gradient_bg;
}

.footer__container {
    max-width: 1734px;
    min-height: 229px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 35px 40px 64px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-template-areas:
        "logo social phone"
        "copyrigth policy email";

    @include sm {
        max-width: 800px;
        min-height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "logo social"
            "phone email"
            "copyrigth policy";
        gap: 30px 20px;
        padding: 30px 20px 29px;
    }

    @include xs {
        grid-template-columns: 1fr;
        grid-template-areas:
            "logo"
            "phone"
            "email"
            "social"
            "copyrigth"
            "policy";
        justify-content: center;
        justify-items: center;
        gap: 0;
    }
}

.footer__logo {
    grid-area: logo;
}

.footer__copyright {
    grid-area: copyrigth;
}

.footer__social {
    grid-area: social;
}

.footer__policy {
    grid-area: policy;
}

.footer__phone {
    grid-area: phone;
}

.footer__email {
    grid-area: email;
}

.footer__logo {
    display: block;
    width: 425px;
    height: auto;

    @include r(1650px) {
        width: 325px;
    }

    @include md {
        width: 300px;
    }

    @include sm {
        width: 244px;
    }

    @include xs {
        margin-bottom: 35px;
    }
}

.footer__copyright {
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.03em;

    @include xl {
        font-size: 21px;
    }

    @include md {
        font-size: 18px;
    }

    @include xs {
        margin-bottom: 14px;
        font-size: 16px;
    }
}

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    transform: translate(45px, 17px);

    @include lg {
        transform: translate(0, 17px);
    }

    @include md {
        gap: 12px;
    }

    @include sm {
        justify-content: center;
        transform: translate(0, 0);
    }

    @include xs {
        gap: 12px;
        margin-bottom: 65px;
    }
}

.footer__link {
    flex: 0 0 45px;
    display: inline-block;
    width: 45px;
    height: 45px;
    transition: transform 0.2s ease-out;
    border-radius: 50%;

    img {
        display: block;
        width: 100%;
        height: 100%;
    }

    @media (hover: hover) {
        &:hover {
            transform: scale(1.05);
        }
    }

    @include md {
        width: 35px;
        height: 35px;
    }

    @include xs {
        width: 38px;
        height: 38px;
    }
}

.footer__policy {
    padding: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 116%;
    text-decoration: underline;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
    transform: translateX(45px);

    @include lg {
        transform: translateX(0);
    }

    @include md {
        font-size: 16px;
    }

    @include sm {
        text-align: right;
    }

    @include xs {
        font-size: 14px;
    }
}

.footer__phone,
.footer__email {
    width: max-content;
    justify-self: end;
    position: relative;
    display: block;
    color: inherit;
    text-decoration: none;
    text-align: right;
    // border-bottom: 1px solid transparent;
    // transition: border-color 0.2s ease-out;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-white-fc, #fcfcfc);
        transform: scale(0.3);
        opacity: 0;
        transition: transform 0.3s ease-out, opacity 0.1s ease-out;
    }

    @media (hover: hover) {
        &:hover {
            // border-bottom-color: var(--color-white-fc, #fcfcfc);

            &::after {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}

.footer__phone {
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.03em;
    transform: translate(-18px, 20px);

    @include xl {
        font-size: 28px;
    }

    @include lg {
        transform: translate(0, 20px);
    }

    @include sm {
        justify-self: start;
        transform: translate(0, 0);
        text-align: left;
    }

    @include xs {
        justify-self: center;
        margin-bottom: 15px;
        text-align: center;
        font-size: 23px;
    }
}

.footer__email {
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.03em;
    transform: translateX(-18px);

    @include xl {
        font-size: 20px;
    }

    @include lg {
        transform: translateX(0);
    }

    @include xs {
        justify-self: center;
        margin-bottom: 15px;
        font-size: 16px;
        text-align: center;
    }
}

.footer_new {
    .footer__container {
        max-width: 1734px;
        min-height: 229px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 35px 40px 64px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        grid-template-areas:
            "logo social yamarket phone"
            "copyrigth policy  yamarket email";

        @include xl {
            max-width: 1000px;
            min-height: auto;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                "logo social"
                "phone yamarket"
                "email yamarket"
                "copyrigth policy";
            gap: 30px 20px;
            padding: 30px 40px 29px;
        }

        @include xs {
            grid-template-columns: 1fr;
            grid-template-areas:
                "logo"
                "phone"
                "email"
                "social"
                "yamarket"
                "copyrigth"
                "policy";
            justify-content: center;
            justify-items: center;
            gap: 0;
            padding-top: 20px;
        }
    }

    .footer__yamarket {
        grid-area: yamarket;
    }

    .footer__phone {
        transform: translate(-18px, 10px);
    }

    .footer__phone,
    .footer__email {
        @include xl {
            justify-self: start;
            transform: translate(0, 0);
            text-align: left;
        }

        @include xs {
            justify-self: center;
            text-align: center;
        }
    }

    .footer__social {
        gap: 17px;
        transform: translate(36px, 17px);

        @include xl {
            justify-self: end;
            transform: translate(0, 0);
        }

        @include xs {
            justify-self: center;
            margin-bottom: 31px;
            text-align: center;
        }
    }

    .footer__policy {
        @include xl {
            justify-self: end;
            transform: translate(0, 0);
        }

        @include xs {
            justify-self: center;
            text-align: center;
        }
    }

    .footer__link {
        flex: 0 0 55px;
        width: 55px;
        height: 55px;

        @include xs {
            flex: 0 0 40px;
            width: 40px;
            height: 40px;
        }
    }

    .footer__yamarket {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        gap: 24px;
        text-decoration: none;
        transform: translate(55px, -5px);

        @include xl {
            transform: translate(0, 0);
            justify-self: end;
        }

        @include xs {
            justify-self: center;
            margin-bottom: 35px;
            text-align: center;
        }

        // @include xxs {
        //     display: block;
        // }

        @media (hover: hover) {
            &:hover .geo__icon {
                transform: scale(1.05);
                box-shadow: 0 0 10px 0 var(--color-white, #fff);
            }
        }
    }

    .footer__icon {
        flex: 0 0 70px;
        display: block;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
        transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;

        img {
            display: block;
            width: 100%;
            height: auto;
        }

        @include md {
            flex: 0 0 72px;
            width: 72px;
            height: 72px;
        }

        @include xs {
            flex: 0 0 50px;
            width: 50px;
            height: 50px;
        }
    }

    .footer__descr {
        display: block;
    }

    .footer__name {
        display: block;
        margin-bottom: 5px;
        font-weight: 400;
        font-size: 25px;
        line-height: 116%;
        color: var(--color-white, #fff);

        @include md {
            font-size: 20px;
        }

        @include xs {
            font-size: 18px;
        }
    }

    .footer__rating {
        width: 181px;
        height: 32px;
        display: block;
        background: url("../images/geo/rating_stars.svg") center / contain
            no-repeat;

        @include md {
            width: 139px;
            height: 24px;
        }

        @include xs {
            width: 99px;
            height: 17px;
        }
    }
}
