.footer {
    position: relative;
    z-index: 2;
    color: var(--color-white-fc, #fcfcfc);
    background: #1c1c1c url("../images/footer-bg.jpg") center / cover no-repeat;

    @include xs {
        background: #1c1c1c url("../images/footer-bg-mob.jpg") center / cover
            no-repeat;
    }
}

.footer__container {
    max-width: 1734px;
    min-height: 229px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 79px 40px 79px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-template-areas:
        "copyrigth logo phone"
        "policy logo email";

    @include sm {
        max-width: 800px;
        min-height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "logo logo"
            "phone email"
            "copyrigth policy";
        gap: 30px 20px;
        padding: 30px 20px 29px;
    }

    @include xs {
        grid-template-columns: 1fr;
        grid-template-areas:
            "logo"
            "phone"
            "email"
            "social"
            "copyrigth"
            "policy";
        justify-content: center;
        justify-items: center;
        gap: 0;
    }
}

.footer__logo {
    grid-area: logo;
}

.footer__copyright {
    grid-area: copyrigth;
}

.footer__social {
    grid-area: social;
}

.footer__policy {
    grid-area: policy;
}

.footer__phone {
    grid-area: phone;
}

.footer__email {
    grid-area: email;
}

.footer__logo {
    display: block;
    width: 425px;
    height: auto;
    justify-self: center;

    @include r(1650px) {
        width: 325px;
    }

    @include md {
        width: 300px;
    }

    @include sm {
        width: 244px;
    }

    @include xs {
        margin-bottom: 35px;
    }
}

.footer__copyright {
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.03em;

    @include xl {
        font-size: 21px;
    }

    @include md {
        font-size: 18px;
    }

    @include xs {
        margin-bottom: 14px;
        font-size: 16px;
    }
}

.footer__policy {
    padding: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 116%;
    text-decoration: underline;
    text-align: left;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;

    @include md {
        font-size: 16px;
    }

    @include sm {
        text-align: right;
    }

    @include xs {
        font-size: 14px;
    }
}

.footer__phone,
.footer__email {
    width: max-content;
    justify-self: end;
    position: relative;
    display: block;
    color: inherit;
    text-decoration: none;
    text-align: right;
    // border-bottom: 1px solid transparent;
    // transition: border-color 0.2s ease-out;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-white-fc, #fcfcfc);
        transform: scale(0.3);
        opacity: 0;
        transition: transform 0.3s ease-out, opacity 0.1s ease-out;
    }

    @media (hover: hover) {
        &:hover {
            // border-bottom-color: var(--color-white-fc, #fcfcfc);

            &::after {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}

.footer__phone {
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.03em;

    @include xl {
        font-size: 28px;
    }

    @include sm {
        justify-self: start;
        text-align: left;
    }

    @include xs {
        justify-self: center;
        margin-bottom: 15px;
        text-align: center;
        font-size: 23px;
    }
}

.footer__email {
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.03em;

    @include xl {
        font-size: 20px;
    }

    @include xs {
        justify-self: center;
        margin-bottom: 37px;
        font-size: 16px;
        text-align: center;
    }
}
